html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;;
}

@font-face {
    font-family: "Karla";
    src: url("/fonts/Karla-Regular.ttf");
   }

/*
 *      -----------------------         Header      -----------------------
 */
header {
    width: 100%;
    height: 200px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-auto-rows: 250px;
    margin-bottom: 100px;    
    grid-gap: 8px;
}
.cell {
  background: blue; /* debug only*/
}

/* Logo & Company name */
header .logo {
  grid-column: 1;
  display: grid;
  min-width: 300px;
}
header .logo .img-logo {
    padding-left: 10%;
    grid-column: 1;
    max-width: 100%;
    height: auto;
    width: 80%;
}
header .logo .img-name {
    padding-top: 5%;
    padding-left: 0%;
    grid-column: 2;
    max-width: 100%;
    height: auto;
}

/* Navigation */
header .nav {
    padding-top: 2%;
    padding-right: 5%;
    grid-column: 2/5;
    overflow: hidden;
}
header .nav li a {
    grid-area: nav;
    padding-right: 50px;
    text-decoration: none;
    color: black;
    font-family: "Karla";
    text-decoration: none;
}

/* Navigation Underline Animation */
header .nav li a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: relative;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
header .nav li a:hover:after { 
    width: 100%; 
    left: 0; 
}

/*
 *      -----------------------         Banner      -----------------------
 */

.banner {
    background-color: aqua;
    width: 100%;
    height: 30vw;
    text-align: center;
}

.banner p {
    font-family: "Karla";
    padding-top: 10%;
}

.banner h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.banner .shopify {
    padding-left: 2%;
}
  